adf/pipeline/aipil-datapipe-000-002-001_datacleansing.json
{
    "name": "aipil-datapipe-000-002-001_datacleansing",
    "properties": {
        "description": "This pipeline is used to run \n1. knowledge cleansing",
        "activities": [
            {
                "name": "set-pipeline-id",
                "description": "set pipeline id for further tracking",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "pipeline_id",
                    "value": {
                        "value": "@if(\n    empty(pipeline().parameters.root_pipeline_id),\n    pipeline().RunId,\n    pipeline().parameters.root_pipeline_id\n)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "exec-knowledge-cleansing",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "set-pipeline-id",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [
                    {
                        "name": "project-name",
                        "value": "aipil"
                    },
                    {
                        "name": "service-name",
                        "value": "data-pipe"
                    },
                    {
                        "name": "job-name",
                        "value": "data-cleansing"
                    },
                    {
                        "name": "task-name",
                        "value": "knowledge-cleansing"
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "aipil-datapipe-000-001-000_jobchain",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "datapipe_apim_baseurl": {
                            "value": "@pipeline().parameters.datapipe_apim_baseurl",
                            "type": "Expression"
                        },
                        "datapipe_apim_subkey": {
                            "value": "@pipeline().parameters.datapipe_apim_subkey",
                            "type": "Expression"
                        },
                        "root_pipeline_id": {
                            "value": "@variables('pipeline_id')",
                            "type": "Expression"
                        },
                        "job_names": {
                            "value": "@pipeline().parameters.knwcleansing_job_names",
                            "type": "Expression"
                        },
                        "pipeline_rpt_routepth": {
                            "value": "@pipeline().parameters.pipeline_rpt_routepth",
                            "type": "Expression"
                        },
                        "if_include_taskqueue": true,
                        "taskqueue_triggerind_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_taskqueue_triggerind_routepth",
                            "type": "Expression"
                        },
                        "taskqueue_jobrun_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_taskqueue_jobrun_routepth",
                            "type": "Expression"
                        },
                        "taskqueue_processlog_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_taskqueue_processlog_routepth",
                            "type": "Expression"
                        },
                        "taskqueue_rpt_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_taskqueue_rpt_routepth",
                            "type": "Expression"
                        },
                        "taskqueue_trigger_jobrun_wait_sec": {
                            "value": "@pipeline().parameters.taskqueue_trigger_jobrun_wait_sec",
                            "type": "Expression"
                        },
                        "taskqueue_check_processlog_wait_sec": {
                            "value": "@pipeline().parameters.taskqueue_check_processlog_wait_sec",
                            "type": "Expression"
                        },
                        "mainjob_triggerind_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_mainjob_triggerind_routepth",
                            "type": "Expression"
                        },
                        "mainjob_jobrun_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_mainjob_jobrun_routepth",
                            "type": "Expression"
                        },
                        "mainjob_processlog_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_mainjob_processlog_routepth",
                            "type": "Expression"
                        },
                        "mainjob_rpt_routepth": {
                            "value": "@pipeline().parameters.knwcleansing_mainjob_rpt_routepth",
                            "type": "Expression"
                        },
                        "mainjob_trigger_jobrun_wait_sec": {
                            "value": "@pipeline().parameters.mainjob_trigger_jobrun_wait_sec",
                            "type": "Expression"
                        },
                        "mainjob_check_processlog_wait_sec": {
                            "value": "@pipeline().parameters.mainjob_check_processlog_wait_sec",
                            "type": "Expression"
                        },
                        "mainjob_run_n_workers": {
                            "value": "@pipeline().parameters.knwcleansing_mainjob_run_n_workers",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "set-knowledge-cleansing-output",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "exec-knowledge-cleansing",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "pipelineReturnValue",
                    "value": [
                        {
                            "key": "knowledge_cleansing",
                            "value": {
                                "type": "Expression",
                                "content": "@activity('exec-knowledge-cleansing').output.pipelineReturnValue"
                            }
                        }
                    ],
                    "setSystemVariable": true
                }
            },
            {
                "name": "if-pipeline-fail",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "set-fail-knowledge-cleansing",
                        "dependencyConditions": [
                            "Completed",
                            "Skipped"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@variables('fail_knowledge_cleansing_ind')",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "raise-pipeline-fail",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat(\n    'The pipeline run failed due to an activity failure. Please check the activity grid below for more detailed information, including the following activities: ',\n    if(\n        variables('fail_knowledge_cleansing_ind'),\n        '#Knowledge Cleansing ' , '' \n    )\n)",
                                    "type": "Expression"
                                },
                                "errorCode": "500"
                            }
                        }
                    ]
                }
            },
            {
                "name": "set-fail-knowledge-cleansing",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "exec-knowledge-cleansing",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "fail_knowledge_cleansing_ind",
                    "value": {
                        "value": "@equals(1, 1)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "concurrency": 1,
        "parameters": {
            "datapipe_apim_baseurl": {
                "type": "string"
            },
            "datapipe_apim_subkey": {
                "type": "string"
            },
            "root_pipeline_id": {
                "type": "string"
            },
            "pipeline_rpt_routepth": {
                "type": "string"
            },
            "taskqueue_trigger_jobrun_wait_sec": {
                "type": "int"
            },
            "taskqueue_check_processlog_wait_sec": {
                "type": "int"
            },
            "mainjob_trigger_jobrun_wait_sec": {
                "type": "int"
            },
            "mainjob_check_processlog_wait_sec": {
                "type": "int"
            },
            "knwcleansing_mainjob_run_n_workers": {
                "type": "int"
            },
            "knwcleansing_job_names": {
                "type": "array"
            },
            "knwcleansing_taskqueue_triggerind_routepth": {
                "type": "string"
            },
            "knwcleansing_taskqueue_jobrun_routepth": {
                "type": "string"
            },
            "knwcleansing_taskqueue_processlog_routepth": {
                "type": "string"
            },
            "knwcleansing_taskqueue_rpt_routepth": {
                "type": "string"
            },
            "knwcleansing_mainjob_triggerind_routepth": {
                "type": "string"
            },
            "knwcleansing_mainjob_jobrun_routepth": {
                "type": "string"
            },
            "knwcleansing_mainjob_processlog_routepth": {
                "type": "string"
            },
            "knwcleansing_mainjob_rpt_routepth": {
                "type": "string"
            }
        },
        "variables": {
            "pipeline_id": {
                "type": "String"
            },
            "fail_knowledge_cleansing_ind": {
                "type": "Boolean",
                "defaultValue": false
            }
        },
        "annotations": [
            "aipil",
            "data-pipe",
            "data-cleansing"
        ],
        "lastPublishTime": "2025-10-30T06:13:58Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}